@model SmartLeads.Web.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<form asp-action="Register" method="post">
    <h4 class="mb-4">Adventure starts here 🚀</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-floating mb-3">
        <input asp-for="Username" class="form-control" placeholder="username" autocomplete="username" />
        <label asp-for="Username"></label>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="name@example.com" autocomplete="email" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <label asp-for="FirstName"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <label asp-for="LastName"></label>
            </div>
        </div>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" type="password" placeholder="password" autocomplete="new-password" />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="confirm password" autocomplete="new-password" />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="termsCheck" required>
        <label class="form-check-label" for="termsCheck">
            I agree to <a href="javascript:void(0)" class="text-decoration-none">privacy policy & terms</a>
        </label>
    </div>

    <button type="submit" class="btn btn-primary d-grid w-100 mb-3">Sign up</button>

    <div class="text-center">
        <span class="text-body-secondary">Already have an account?</span>
        <a asp-action="Login" class="text-decoration-none ms-2">Sign in instead</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
